<h1></h1>
<div>
    <body>
        <header>
            <section class="textos-header">
                <h1>Tu Lista De Vinos</h1>
            </section>
            <div class="wave" style="height: 150px; overflow: hidden;" >
                <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                    <path d="M-0.84,28.13 C179.73,200.81 327.03,-40.95 556.15,73.52 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;">
                    </path>
                </svg>
            </div>
        </header>
    <main>
        <section class="contenedor descrip">
            <h2 class="titulo" id="DC">NOTAS</h2>
            <div class="contenedor-imagen">
                <img src="assets/vino.jpg" alt="" class="imagen-aboutus">
                <div class="contenidos-textos">
                    <h3><span>1</span>Descripción:</h3>
                    <p>En este sitio podras crear tu lista de vinos que mas te guste ya se por sabor, aroma o el tipo de de vino que te gusta.</p>
                    <h3><span>2</span>Federico Fellini:</h3>
                    <p>"Un buen vino es como una buena película: dura un instante y te deja en la boca un sabor a gloria; es nuevo en cada sorbo y, como ocurre con las películas, nace y renace en cada saboreador."</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h2 class="titulo-final">&copy; Tus Vinos | Ricardo Salazar</h2>
    </footer>
</body>
</div>